<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Importaciones Justy</title>


  <!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" >

</head>

 <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">
	</div>
	
	<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}">
	 </div>
<body  >


<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Forma de Pago</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Tarjeta de Credito </a> </li>
                            
                          
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="username">
                                        <h6>Nombre del Titular</h6>
                                    </label> <input type="text" name="username" placeholder="" required class="form-control "> </div>
                                    	<h6 th:text=" 'Nombre: '+ ${usuario.nombre}"></h6>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6>Numero de la Tarjeta</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Fecha de Caducidad</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control"    required> <input type="number" placeholder="AA" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Código CV de tres dígitos en el reverso de su tarjeta">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                               
                               
                                <div class="card-footer"> <button th:href="@{/viesws/}"  class="subscribe btn btn-primary btn-block shadow-sm"> Confirmar Pago </button> </div>   
                            </form>
                        </div>
                    </div> <!-- End -->

                  </div>
                </div>
            </div>
        </div>
        </div>




  
   
   
  <!-- /.container -->



	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/scripts/validation.js}"></script>
	<script src="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<footer class="py-5 bg-dark footer_ ">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy;Usuario Idat 2022</p>
		</div>
		<!-- /.container -->
	</footer>

</html>